playwright>=1.49.0
requests==2.31.0
beautifulsoup4==4.12.3
lxml>=5.3.0
pycryptodome==3.20.0
fake-useragent==1.4.0
python-dotenv==1.0.1
colorlog==6.8.2
flask==3.1.2
colorama==0.4.6
docx2pdf
python-docx
werkzeug
